/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
h1 {
    font-size: 40px;
    font-family: 'Bauhaus 93';
    text-align: center;
    color: white;
}

h5 {
    font-family: Arial;
    background-color: white;
   border:solid;
}

.main {
    margin-left: 30px;
    margin-right: 30px;
    background-color: lightgray;
}


#openweathermap-widget-19{
    background-color:beige;
    margin-left:5px;
    width:20%;
    margin-top:100px;
    text-align:center;
}

#navitemp {
    display: inline;
    max-width: 900px;
}

    #navitemp a {
        margin-left: 700px;
        background: black;
        border-radius: 8px;
        color: white;
    }
nav {
    color: black;
    background-color: floralwhite;
    opacity: 0.7;
}
    nav ul {
        text-align: center;
    }
        nav ul li {
            display: inline-block;
            padding: 18px 15px;
            margin: 0 3px;
            z-index: 2;
        }

            nav ul li:hover {
                background: #A9845E;
                color: rgb(235,93,52);
            }



    nav ul {
        text-align: center;
    }

        nav ul li {
            display: inline-block;
            padding: 18px 15px;
            margin: 0 3px;
            z-index: 2;
        }

            nav ul li:hover {
                background: #A9845E;
                color: rgb(235,93,52);
            }

body {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1;
    margin: auto;
    font-family: "Maven Pro", arial, helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.reteteu.com.br/images/gallery/06.jpg);
}



footer {
    margin-top: 600px;
    background: #A9845E;
    text-align: center;
    border: 1px solid black;
    color: white;
}

h2 {
    vertical-align: central;
    font-size: 28px;
}

h5 {
    margin-right: 4px;
    color: black;
    font-size: 15px;
}
