
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
h1 {
    font-size: 40px;
    font-family: 'Bauhaus 93';
    text-align: center;
    color: white;
}
nav {
    width:100%;
    color:black;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    text-align:center;
    color: black;
    background-color: floralwhite;
    opacity: 0.7;

}
#imgRest{
    width:70%;
}

nav ul {
    text-align: center;
}

        nav ul li {
            display: inline-block;
            padding: 18px 15px;
            margin: 0 3px;
            z-index: 2;
        }

            nav ul li:hover {
                background: #A9845E;
                color: rgb(235,93,52);
            }

body {
    width:90%;
    text-align:center;
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1;
    margin:auto;
    font-family: "Maven Pro", arial, helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.reteteu.com.br/images/gallery/06.jpg);
}

fieldset {

    width:50%;
    margin:auto;
    color:black;
    font-size:30px;
    color:white;
    margin-top:5%;
    background-color: #A9845E;
   
}


#caption {
    width:100%;

}

#map {
   
    /*margin-bottom: 20%;
    margin-top: 20px;*/
    min-height: 300px;
    margin:auto;
    width: 70%;
    /*height:100%;*/
}


footer {
    margin-top:100px;
    padding: 10px 16px;
    background: #A9845E;
    text-align: center;
    border: 1px solid black;
    color: white;
}
h2 {
    vertical-align:central;
    font-size:28px;
}

h5 {
    margin-right:4px;
    color:black;
    font-size: 15px;
}
